<mat-form-field class="w-full">
  <mat-label>{{ 'input.search.label' | translate }}</mat-label>
  <input
    matInput
    (input)="onQueryChange($event)"
    [placeholder]="'input.search.placeholder' | translate"
    [ngModel]="query()"
    (ngModelChange)="query.set($event)"
  />
  @if (query()) {
    <button
      matSuffix
      mat-icon-button
      [attr.aria-label]="'uni.clear' | translate"
      (click)="onQueryRemove()"
      [matTooltip]="'uni.clear' | translate"
    >
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<div class="flex items-end justify-end gap-2">
  <button mat-button (click)="onClear()">{{ 'uni.clear-filters' | translate }}</button>

  <a mat-button [routerLink]="['/' + ROUTE_DEFINITION.POSTS.CREATE | localize]">{{ 'uni.create' | translate }}</a>
</div>

<table
  mat-table
  [fixedLayout]="true"
  [dataSource]="data()"
  matSort
  [matSortActive]="sortBy()"
  [matSortDirection]="sortDirection()"
  matSortDisableClear
  [trackBy]="trackByPostId"
  (matSortChange)="onSortChange($event)"
>
  <colgroup>
    <col width="200" />
    <col width="auto" />
    <col width="50" />
  </colgroup>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'table.posts.id.title' | translate }}</th>
    <td mat-cell *matCellDef="let row">
      {{ row.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'table.posts.title.title' | translate }}</th>
    <td mat-cell *matCellDef="let row">
      {{ row.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button [matMenuTriggerFor]="menu" [attr.aria-label]="'uni.aria-label.show-actions' | translate">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/' | localize, row.id]">
          <mat-icon>info</mat-icon>
          <span>{{ 'uni.detail' | translate }}</span>
        </a>
        <a mat-menu-item [routerLink]="['/' + row.id + '/' + ROUTE_DEFINITION.POSTS.EDIT | localize]">
          <mat-icon>edit</mat-icon>
          <span>{{ 'uni.edit' | translate }}</span>
        </a>
        <button mat-menu-item [appPostDelete]="row.id" (deleted)="onDeleted(row.id)">
          <mat-icon>delete</mat-icon>
          <span>{{ 'uni.delete' | translate }}</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <!-- eslint-disable-next-line @angular-eslint/template/prefer-self-closing-tags -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- eslint-disable-next-line @angular-eslint/template/prefer-self-closing-tags -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex() - 1"
  [length]="totalCount()"
  (page)="onPageChange($event)"
  [attr.aria-label]="'uni.aria-label.select-page-of-posts' | translate"
/>

<div *cdkPortal class="container py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">{{ 'breadcrumbs.app.posts' | translate }}</a>
</div>
