@if (dataSource.state() === 'loading' || dataSource.state() === 'data') {
  @if (dataSource.state() === 'data') {
    <div class="flex items-end justify-end gap-2">
      <button mat-button color="accent" [appPostDelete]="dataSource.data().id" (deleted)="onDeleted()">
        {{ 'uni.delete' | translate }}
      </button>
    </div>
  }

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle [class.blur-sm]="dataSource.state() !== 'data'">{{
        '#' + dataSource.data().id
      }}</mat-card-subtitle>
      <mat-card-title [class.blur-sm]="dataSource.state() !== 'data'">{{ dataSource.data().title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col gap-2 mt-2 text-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
        <mat-form-field class="w-full">
          <mat-label>{{ 'form.post.title.label' | translate }}</mat-label>
          <input matInput type="text" formControlName="title" />
          @if (form.controls.title.value) {
            <button
              matSuffix
              mat-icon-button
              [attr.aria-label]="'uni.clear' | translate"
              (click)="form.controls.title.setValue(''); form.controls.body.markAsDirty()"
              [matTooltip]="'uni.clear' | translate"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>{{ 'form.post.body.label' | translate }}</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            [placeholder]="'form.post.body.placeholder' | translate"
            formControlName="body"
          ></textarea>
          @if (form.controls.body.value) {
            <button
              matSuffix
              mat-icon-button
              [attr.aria-label]="'uni.clear' | translate"
              (click)="form.controls.body.setValue(''); form.controls.body.markAsDirty()"
              [matTooltip]="'uni.clear' | translate"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>

        <div class="flex justify-center gap-2">
          <button mat-button color="primary" [disabled]="form.pristine" type="reset">
            {{ 'uni.reset' | translate }}
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.pristine || form.invalid">
            {{ 'uni.submit' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
}

@if (dataSource.state() === 'error') {
  <mat-card>
    <mat-card-content class="flex flex-col gap-2 text-center">
      <mat-icon aria-hidden="false" aria-label="Error icon" fontIcon="error"></mat-icon>
      <div>{{ dataSource.error() }}</div>
    </mat-card-content>
  </mat-card>
}

@if (dataSource.state() === 'empty') {
  <mat-card>
    <mat-card-content class="flex flex-col gap-2 text-center">
      <mat-icon aria-hidden="false" aria-label="Warning icon" fontIcon="warning"></mat-icon>
      <div>{{ 'error.post-was-not-found' | translate }}</div>
    </mat-card-content>
  </mat-card>
}

<div *cdkPortal class="container flex items-center gap-1 py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">{{ 'breadcrumbs.app.posts' | translate }}</a>
  @if (dataSource.state() === 'data') {
    <mat-icon aria-hidden="false" aria-label="Arrow icon" fontIcon="chevron_right"></mat-icon>
    <a mat-button color="primary" [routerLink]="['/' | localize, dataSource.data().id]">{{ dataSource.data().id }}</a>
    <mat-icon aria-hidden="false" aria-label="Arrow icon" fontIcon="chevron_right"></mat-icon>
    <a
      mat-button
      color="primary"
      [routerLink]="['/' + dataSource.data().id + '/' + ROUTE_DEFINITION.POSTS.EDIT | localize]"
    >
      {{ 'breadcrumbs.posts.edit' | translate }}</a
    >
  }
</div>
