<header class="z-10 sticky-top">
  <mat-toolbar color="primary" role="navigation">
    <nav class="container flex items-center justify-between gap-2">
      <a mat-button [routerLink]="['/' | localize]">Angular RXDB Demo</a>
      <button mat-button (click)="toggleLanguage()" class="uppercase">{{ lang }}</button>
    </nav>
  </mat-toolbar>
</header>

<main class="flex-1">
  @if (breadcrumbsPortal$ | async; as portal) {
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
  }
  <router-outlet></router-outlet>
</main>
