<mat-card>
  <mat-card-header>
    <!--
    <mat-card-subtitle></mat-card-subtitle>
    -->
    <mat-card-title>{{ form.controls.title.value }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex flex-col gap-2 mt-2 text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
      <mat-form-field class="w-full">
        <mat-label>{{ 'form.post.title.label' | translate }}</mat-label>
        <input matInput type="text" formControlName="title" />
        @if (form.controls.title.value) {
          <button
            matSuffix
            mat-icon-button
            [attr.aria-label]="'UNI.clear' | translate"
            (click)="form.controls.title.setValue('')"
            [matTooltip]="'UNI.clear' | translate"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'form.post.body.label' | translate }}</mat-label>
        <textarea matInput [placeholder]="'form.post.body.placeholder' | translate" formControlName="body"></textarea>
        @if (form.controls.body.value) {
          <button
            matSuffix
            mat-icon-button
            [attr.aria-label]="'UNI.clear' | translate"
            (click)="form.controls.body.setValue('')"
            [matTooltip]="'UNI.clear' | translate"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <div class="flex justify-center gap-2">
        <button mat-button color="primary" [disabled]="form.pristine" type="reset">
          {{ 'UNI.reset' | translate }}
        </button>
        <button mat-flat-button color="primary" [disabled]="form.pristine || form.invalid" type="submit">
          {{ 'UNI.submit' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div *cdkPortal class="container flex items-center gap-1 py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">{{ 'BREADCRUMBS.app.posts' | translate }}</a>
  <mat-icon aria-hidden="false" aria-label="Arrow icon" fontIcon="chevron_right"></mat-icon>
  <a mat-button color="primary" [routerLink]="['/create' | localize]">{{ 'BREADCRUMBS.posts.create' | translate }}</a>
</div>
