<mat-card>
  <mat-card-header>
    <!--
    <mat-card-subtitle></mat-card-subtitle>
    -->
    <mat-card-title>{{ form.controls.title.value }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex flex-col gap-2 mt-2 text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
      <mat-form-field class="w-full">
        <mat-label>{{ 'form.post.title.label' | translate }}</mat-label>
        <input matInput type="text" formControlName="title" />
        @if (form.controls.title.value) {
          <button
            matSuffix
            mat-icon-button
            [attr.aria-label]="'uni.clear' | translate"
            (click)="form.controls.title.setValue('')"
            [matTooltip]="'uni.clear' | translate"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'form.post.body.label' | translate }}</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          [placeholder]="'form.post.body.placeholder' | translate"
          formControlName="body"
        ></textarea>
        @if (form.controls.body.value) {
          <button
            matSuffix
            mat-icon-button
            [attr.aria-label]="'uni.clear' | translate"
            (click)="form.controls.body.setValue('')"
            [matTooltip]="'uni.clear' | translate"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <div class="flex justify-center gap-2">
        <button mat-button color="primary" [disabled]="form.pristine" type="reset">
          {{ 'uni.reset' | translate }}
        </button>
        <button mat-flat-button color="primary" [disabled]="form.pristine || form.invalid" type="submit">
          {{ 'uni.submit' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div *cdkPortal class="container flex items-center gap-1 py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">{{ 'breadcrumbs.app.posts' | translate }}</a>
  <mat-icon
    aria-hidden="false"
    [attr.aria-label]="'uni.aria-label.arrow-icon' | translate"
    fontIcon="chevron_right"
  ></mat-icon>
  <a mat-button color="primary" [routerLink]="['/create' | localize]">{{ 'breadcrumbs.posts.create' | translate }}</a>
</div>
